name: Lint
on: pull_request

env:
  PYTHON_VERSION: "3.13"
  POETRY_VERSION: "2.1.2"
  POETRY_URL: https://install.python-poetry.org

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Install Dependencies
        run: |
          poetry install --no-root
      - name: Run black
        run: poetry run black --check .

  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Install Dependencies
        run: |
          poetry install --no-root
      - name: Run mypy
        run: poetry run mypy eflips --explicit-package-bases --strict
